body {
    background: rgb(240, 240, 240);
}

img[title=laterdude], img[title=laterdudedemo2] {
    width: 410px;
    height: 210px;
}

img[title=laterdudedemo1] {
    width: 410px;
    height: 239px;
}

#downloads {
    width: 110px;
}

p.img-container {
    text-align: center;
}